* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  font-family: "Bai Jamjuree", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  background: rgba(255, 255, 255, 1);
  min-width: 375px;
}

h1,
h2,
h3 {
  font-weight: 500;
  line-height: 1.2;
  padding-bottom: 15px;
}

h1,
h2,
h3,
p,
.btns-alt {
  text-align: center;
}

h1 {
  font-size: 2rem;
}

h1,
.snippets-details img {
  margin-top: 30px;
  margin-bottom: 30px;
}

h2,
footer {
  margin-top: 125px;
}

p {
  padding-bottom: 50px;
  color: rgba(158, 171, 177, 1);
}

.snippets-details img,
.access-details img {
  width: 325px;
  margin-bottom: 50px;
}

.header-details img,
.workflow-details h2 {
  margin-top: 100px;
}

.workflow-list img {
  margin-bottom: 20px;
}

footer {
  background: rgba(236, 236, 236, 1);
  width: 100%;
}

footer * {
  padding-top: 15px;
}

footer li {
  list-style: none;
  text-align: center;
}

footer a {
  font-weight: 400;
  text-decoration: none;
  margin: 0 20px 30px 10px;
  color: rgba(75, 84, 92, 1);
}

footer > img {
  padding-top: 50px;
  width: 50px;
}

.social-logos img {
  width: 30px;
  margin-bottom: 35px;
}

.title-info,
.snippets-details,
.access-details,
.snippets-details,
.snippets-info,
.workflow-details,
.workflow-list div,
.btns-alt,
.business-logos,
.device-availabilty {
  margin: 0 25px;
}

/******************************************
/* LAYOUT
/*******************************************/
.header-details,
.snippets-details,
.access-details,
.snippets-details,
.snippets-info,
.workflow-details,
.workflow-list div,
.btns-alt,
.business-logos,
.footer-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header-details img,
.snippets-info img,
.access-details img,
.footer-info *,
.workflow-list img {
  align-self: center;
}

.business-logos img {
  width: 110px;
  height: 35px;
  align-self: center;
  margin: 30px 0;
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/
.header-details {
  background-image: url(bg-header-mobile.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.ios-btn {
  cursor: pointer;
  border: 1px solid rgba(38, 187, 164, 1);
  background: rgba(38, 187, 164, 1);
  color: rgba(255, 255, 255, 1);
  line-height: 2.2;
  border-radius: 50px;
  padding: 5px 60px;
  box-shadow: inset -1px -2px 1px rgba(27, 133, 117, 1),
    -1px 10px 20px -10px rgba(38, 187, 164, 1);
}

.mac-btn {
  cursor: pointer;
  border: 1px solid rgba(96, 115, 255, 1);
  background: rgba(96, 115, 255, 1);
  color: rgba(255, 255, 255, 1);
  line-height: 2.2;
  border-radius: 50px;
  padding: 5px 60px;
  margin-top: 20px;
  box-shadow: inset -1px -2px 1px rgba(62, 73, 162, 1),
    -1px 10px 20px -10px rgba(96, 115, 255, 1);
}

.ios-btn:hover {
  background: rgba(38, 187, 164, 0.7);
}

.mac-btn:hover {
  background: rgba(96, 115, 255, 0.7);
}

a:hover {
  color: rgba(38, 187, 164, 1);
}

.hidden {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

/******************************************
/* Media Queries
/*******************************************/
@media (min-width: 1110px) {
  .header-details,
  .snippets-details,
  .access-details,
  .snippets-details,
  .snippets-info,
  .workflow-details,
  .btns-alt,
  .business-logos {
    display: flex;
    justify-content: center;
  }

  h2 {
    font-size: 2.2rem;
  }

  h1 {
    margin-bottom: 10px;
    font-size: 2.5rem;
  }

  .header-details {
    background-image: url(bg-header-desktop.png);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .header-details p {
    margin: 0 375px;
  }

  .snippets-title p {
    margin: 0 350px;
  }

  .snippets-info {
    margin-top: 100px;
  }

  .snippets-info img {
    position: absolute;
    width: 700px;
    left: -25px;
  }

  .snippets-info div {
    padding-left: 600px;
    padding-right: 200px;
    margin-left: 150px;
  }

  .snippets-info h3,
  .snippets-info p {
    text-align: left;
  }

  .access-details {
    margin-top: 75px;
  }

  .access-details p {
    margin: 0 175px;
    padding: 0 175px;
  }

  .access-details img {
    width: 800px;
    margin-top: 75px;
  }

  .workflow-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 10px 12px 0 12px;
    place-items: center;
  }

  .workflow-list img {
    width: 30px;
    height: 30px;
  }

  .blacklist-sctn * {
    margin-top: 0.7rem;
  }

  .blacklist-sctn img,
  .blacklist-sctn h3,
  .blacklist-sctn p {
    margin-top: 0;
  }

  .blacklist-sctn p {
    padding-bottom: 20px;
  }

  .btns-alt,
  .snippets-info,
  .business-logos {
    flex-direction: row;
  }

  .business-logos img {
    width: 150px;
    height: 50px;
    margin: 100px 50px 0 50px;
  }

  .device-availabilty p {
    margin: 0 350px;
  }

  .ios-btn {
    margin-right: 10px;
    padding: 5px 30px;
  }
  .mac-btn {
    margin-top: 0;
    padding: 5px 30px;
  }

  .footer-info {
    display: grid;
    grid-template-columns: 250px 750px 300px;
    justify-content: space-around;
    padding: 15px 0 30px 0;
  }

  footer li {
    text-align: left;
    padding-top: 0;
  }

  footer nav {
    display: flex;
  }

  .first-link,
  .second-link {
    margin-right: 35px;
  }

  .first-link li:last-child,
  .second-link li:last-child {
    padding-top: 20px;
  }

  .third-link li {
    margin-bottom: 50px;
  }

  footer > img {
    max-width: 100%;
    justify-self: center;
    padding-top: 10px;
  }

  .social-logos {
    justify-self: start;
    padding-top: 30px;
  }

  footer > img:hover {
    color: rgba(38, 187, 164, 1);
    cursor: pointer;
  }
}
